/* The typing effect */
@keyframes typing {
  0% { width: 0}
  30% { width: 100% }
  70% { width: 100% }
  80% { width: 0 }
  100% { width: 0}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(41, 201, 215); }
}