main{
    flex: 0 15vw;
}

.main-container{
    width: fit-content;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5em;
}

.projects{
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    gap: 2em;
}

.project-container{
    background-color: azure;
    width: 30vw;
    height: 15vh;
    border-radius: 10px;
}