main{
    flex: 0 15vw;
}

.main-container{
    width: fit-content;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5em;
}

.projects{
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-container{
    background-color: azure;
    width: 20vw;
    height: 15vh;
    border-radius: 10px;
}

svg{
    width: 3em;
    height: 3em;
}

.icon {
    fill: white;
}

.icon:hover{
    fill: rgb(41, 201, 215);
    color: #000000;
}

a{
    text-decoration: none;
    target: _blank;
}