main{
    flex: 0 15vw;
}

.main-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 5em;
}

.projects-section{
    width: inherit;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    gap: 2em;
}

.project-box{
    background-color: azure;
    width: auto;
    height: 15vh;
    border-radius: 10px;
}

svg{
    width: 3em;
    height: 3em;
}

.icon {
    fill: white;
}

.icon:hover{
    fill: rgb(41, 201, 215);
    color: #000000;
}

a{
    text-decoration: none;
}