@media (max-width: 600px) {
.site-header{
    font-size: 3vw;
    height: 50vh;
}
.mainbox{
    margin-top: 5rem;
}
.fullname h1 {
    white-space: nowrap;
}
.container {
    flex-direction: column;
}
.projects{
    flex-direction: column;
}
.project-container{
    width: 50vw;
}
.main-container{
    padding: 1em;
    max-width: 80vw;
    align-items: center;
}
.projects-container{
    grid-template-columns: repeat(1, 1fr);
}
}