@import "header.css";
@import "animations.css";
@import "main.css";
@import "media-query.css";

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    background: linear-gradient(135deg, #000000, #243b6b, #000000);
    align-items: center;
}


