body{
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: aqua;
    min-height: 100vh;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

.site-header {
    height: 100vh;
    background: linear-gradient(135deg, #000000, #243b6b, #3b2954);
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    position: relative;
    flex-direction: column;
    row-gap: 5rem;
}

header > .mainbox{
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    display: flex;
    flex-direction: row;
}

.lastname, .firstname {
    margin: 0;
    font-weight: 900;
    font-size: 15vw;
    color: #277685;
    text-shadow: 0 0 10px #010101, 0 0 20px #000000;
}

main{
    flex: 0 15vw;
}

.navbar {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    backdrop-filter: none;
    padding: 0rem 0;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding: 0;
    align-items: center;
    width: auto;
}


.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    background: rgba(64, 78, 91, 0.1);
    border-radius: 10px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    height: 5vh;

}

.nav-links a:hover {
    background: #183937;
    color: #000000;
    transform: scale(1.05);

}

.fullname h1{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin-right: 0;
    margin-left: auto; /* Gives that scrolling effect as the typing happens */
    animation: 
    typing 6s steps(30, end) infinite;
    font-size: 5rem;
    letter-spacing: 0.05em;
    min-width: 0;
}

.cursor {
    border-right: 0.15em solid rgb(41, 201, 215);
    width: 0%;
    height: 50%;
    animation: blink-caret 1s infinite;
}

/* The typing effect */
@keyframes typing {
  0% { max-width: 0}
  30% { max-width: 100% }
  70% { max-width: 100% }
  80% { max-width: 0 }
  100% { max-width: 0}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(41, 201, 215); }
}

@media (max-width: 600px) {
  .fullname h1 {
    white-space: nowrap;
    font-size: 7vw;
  }
  .site-header {
    padding-left: 5vw;
    align-items: start;
  }
  body{
    font-size: 4vw;
  }

}

