@import "main-section.css";
@import "../home_page/header.css";
@import "../home_page/main.css";
@import "../home_page/body.css";
@import "../home_page/footer.css";
@import "../scrollbar.css";
@import "../home_page/media-query.css";