/* Hide scrollbar but keep scroll functionality */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE / Edge */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
