html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
    background: linear-gradient(135deg, #000000, #415278, #000000);
    align-items: center;
}