.site-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
    padding-bottom: 10em;
}

header > .mainbox{
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
}

.lastname, .firstname {
    margin: 0;
    font-weight: 900;
    font-size: 20vw;
    color: #277685;
    text-shadow: 0 0 10px #010101, 0 0 20px #000000;
}

.navbar {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    backdrop-filter: none;
    padding: 0rem 0;
    justify-content: center;
    border-radius: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding: 0.8rem 2rem;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

}


.nav-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    background: transparent;
    transition: all 0.3s ease;

}

.nav-links a:hover {
    background: rgb(41, 201, 215);
    color: #000000;
    transform: scale(1.05);

}

.mainbox{
    margin-top: 15vh;
}

.fullname h1{
    overflow: hidden; 
    border-right: .15em solid rgb(41, 201, 215);
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    animation: 
    typing 6s steps(30, end) infinite,
    blink-caret 1s infinite;
    letter-spacing: 0.05em;
    width: 0;
    font-size: 5vw;
}


.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentbox p{
    text-align: center;
    padding: 5em;
    padding-top: 2em;
}