@media (max-width: 600px) {
.site-header{
    font-size: 3vw;
    min-height: 50vh;
}
.mainbox{
    margin-top: 5rem;
}
.fullname h1 {
    white-space: nowrap;
}
.container {
    flex-direction: column;
}
.projects{
    flex-direction: column;
}
.project-container{
    width: 50vw;
}
.main-container{
    padding: 1em;
    width: 90vw;
    align-items: center;
    height: fit-content;
}
.projects-container{
    grid-template-columns: repeat(1, 1fr);
}
}

@media (max-width: 900px) {
    .nav-links {
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        flex-wrap: wrap;
    }

    .nav-links a {
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }
    .main-container{
        width: 70vw;
    }
}

/* Small screens (mobile) */
@media (max-width: 600px) {
    .navbar {
        width: inherit;
        justify-items: center;
        padding: 0.5rem;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: inherit;
        padding: 1rem;
        gap: 0.7rem;
        border-radius: 10px;
    }

    .nav-links a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1rem;
        padding: 0.8rem 0.3rem;
    }

    .nav-links a:hover {
        background: rgb(41, 201, 215);
        color: #000;
    }
}

@media (max-width: 900px) {
    .skill-card {
        width: 18vw;
        height: 10vh;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .skill-card {
        width: 10vw;
        height: 5vh;
        font-size: 0.9rem;
    }
}
