<nav class="navbar">


    <ul class="nav-links">
        <li><a href="home.html">home</a></li>
        <li><a href="home.html#about">about</a></li>
        <li><a href="home.html#projects">projects</a></li>
        <li><a href="home.html#skills">skills</a></li>
        <li class="dropdown">
            <button class="dropdown-btn">contact ▾</button>
            <ul class="dropdown-menu">
                <!-- înlocuiești aceste linkuri cu iconițele tale -->
                <li><a href="https://github.com/costitza" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/raul-ababei-28221838b/" target="_blank">LinkedIn</a></li>
                <li><a href="https://www.instagram.com/frosty.king_67/" target="_blank">Instagram</a></li>
            </ul>
        </li>
    </ul>

</nav>